html,body {
  width:100%;
  height:100%;
  &.fixed {
    position: fixed;
    top:-100vh;
  }
}

.container {
  width: 100%;
  height:auto;
  .cont {
    position: relative;
    width: 100%;
    height: 100vh;
  }
}

// cont1
.cont1 {
  .swiper-wrap {
    width:100%;
    height:100%;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    text-align: center;
    .s-txt {
      font-size: rem(18);
    }
    .txt {
      margin: rem(20) 0;
      font-size: rem(42);
      line-height: 1.2;
      font-weight: 500;
    }
    .s-txt2 {
      font-size: rem(18);
    }
    &.slide1 {
      background: url(../img/bg.jpg) no-repeat center center;
      background-size: cover;
    }
    &.slide2 {
      background: #111;
      .bg {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height: 100%;
        background: url(../img/bg2.jpg) no-repeat center center;
        z-index: -1;
        transition: opacity 1s 3s ease-in-out;
      }
      .s-txt2 {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left:50%;
        top:60%;
        transform: translate(-50%,0%);
        transition: all 1s 3s ease-in-out;
      }
    }
    &.slide3 {
      background-size: cover;
      .s-txt, .txt {
        opacity: 1;
        transform: translate(0,0);
      }
    }
    &.swiper-slide-active,&.swiper-slide-prev {
      &.slide2 {
        .s-txt2 {
          opacity: 1;
          visibility: visible;
          top:55%;
        }
        .bg {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .btn-scroll {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: rem(20);
    z-index:10;
    span {
      display: inline-block;
      height: rem(20);
      vertical-align: top;
      padding: 0 rem(10);
      border:1px solid #fff;
      line-height: rem(20);
      color:#fff;
      font-size: rem(12);
    }
    .arrow {
      display: inline-block;
      vertical-align: top;
      height: rem(20);
      padding: rem(5) rem(10);
      border:1px solid #fff;
      color:#fff;
      &:after {
        content: "";
        display: block;
        width: rem(5);
        height: rem(5);
        border-top: rem(1) solid #fff;
        border-left: rem(1) solid #fff;
        transform: rotate(-135deg);
      }
    }
  }
}

// cont2
.cont2 {
  top:0;
  z-index:30;
  background-size: cover;
  background-color: #fff;
  .left {
    position: relative;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    text-align: center;
    transition: all 0.5s 0.1s ease-in-out;
    background: url(../img/bg3.png) no-repeat center center;
  }
  .right {
    position: absolute;
    top:0;
    left:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: 100%;
    text-align: left;
    background-color: #000;
    color:#fff;
    transition: all 0.5s 0s ease-in-out;
    .title {
      width:rem(1200);
      margin:0 auto rem(20);
    }
    .video {
      display: flex;
      align-items: center;
      justify-content: center;
      width:rem(1200);
      height: rem(300);
      margin:0 auto;
      background-color: #ccc;
      font-size:rem(24);
      text-align: left;
      color:#000;
    }
    .btn-prev {
      position: absolute;
      top:35%;
      right:50%;
      margin-right: rem(-600);
    }
  }
  &.next {
    .left{
      left:-100%;
    }
    .right {
      left:0;
    }
  }
  .title {
    span {
      display: block;
      font-size:rem(18);
    }
    h3 {
      font-size:rem(24);
    }
  }
  .s-txt {
    font-size:rem(16);
    margin: rem(20) 0;
  }
  button {
    padding: rem(5);
    border:1px solid #ccc;
  }
}

// cont3
.cont3{
  position: absolute;
  
}